@model BOR.Models.Medium

<div class="container">

    @{
        if (Model.Article.Type == "Gallery" || Model.Article.Type == "OffRoadGirl" ||
            Model.Article.Type == "Event" || Model.Article.Type == "Part" ||
            Model.Article.Type == "RankingPart" || Model.Article.Type == "Article")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj zdjęcie";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj zdjęcie</h4>
        }
        else if (Model.Article.Type == "Workshop")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj zdjęcie / logo";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj logo</h4>
        }
        else if (Model.Article.Type == "Ad")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj logo";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj logo</h4>
            <h4>Uwaga - logo w formacie 150x150 pikseli!</h4>
        }
        else if (Model.Article.Type == "BottomAd")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj logo";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj logo</h4>
        }
        else if (Model.Article.Type == "Shop")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj zdjęcie / logo";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj logo</h4>
        }
        else if (Model.Article.Type == "Service")
        {
            ViewBag.Title = Model.Article.Title + " - Dodaj zdjęcie / logo";
            <h2>@Model.Article.Title</h2>
            <h4>Dodaj logo</h4>
        }

        int? relatedArticleIDint = null;
        if (ViewBag.relatedArticle != null)
        {
            relatedArticleIDint = ViewBag.relatedArticle.ArticleID;
        }
}

    @using (Html.BeginForm("Create", "Media", new { relatedArticleID = relatedArticleIDint }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.Hidden("ArticleID", Model.ArticleID)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Obraz", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" id="Photo" name="upload" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Dodaj" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

</div>