@model BOR.Models.Article

@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    <img src="~/Content/Images/Branding/USŁUGI.jpg" class="img-responsive img-banner" alt="Off-road main" />
</div>

<div class="container main-menu">
    <div class="myArticle">
        <div class="row">
            <div class="col-sm-10 col-md-7 article-title">
                <h2>@Html.DisplayFor(modelModel => Model.Title)</h2>
            </div>
        </div>
        <h5>@Html.DisplayFor(modelModel => Model.DateAdded)</h5>
        <p>
            @if (Model.Images.Count() > 0)
            {
                <a href="@Model.Images.First().Link" title="@Model.Images.First().Name" data-gallery>
                    <img class="img-thumbnail img-article img-responsive" src="@(Model.Images.Count() > 0 ? Model.Images.First().MiniatureLink : "")"
                         alt="@(Model.Images.Count() > 0 ? Model.Images.First().Name : "")" />
                </a>
            }
            @{
                string text = Model.Text;
                string[] textWords = text.Split(' ');
                int imageCount = (int)Math.Floor((double)textWords.Length / 200.0);
                int imageLeft = imageCount;
                int imageIndex = 1;
                int imageWordPosition = 200;
                string imgRightClass = "img-thumbnail img-article-right";
                for (int i = 0; i < textWords.Length; i++)
                {
                    <text>@textWords[i]</text>
                    if (imageLeft > 0 && i == imageWordPosition && Model.Images.ToArray().Length > imageIndex)
                    {
                        if (imageIndex % 2 == 0)
                        {
                            imgRightClass = "img-thumbnail img-article";
                        }
                        else
                        {
                            imgRightClass = "img-thumbnail img-article-right";
                        }
                        <text>
                            <a href="@(Model.Images.Count() > imageIndex ? Model.Images.ElementAt(imageIndex).Link : "")"
                               title="@(Model.Images.Count() > imageIndex ? Model.Images.ElementAt(imageIndex).Name : "")"
                               data-gallery>
                                <img class="@imgRightClass"
                                     src="@(Model.Images.Count() > imageIndex ? Model.Images.ElementAt(imageIndex).MiniatureLink : "")"
                                     alt="@(Model.Images.Count() > imageIndex ? Model.Images.ElementAt(imageIndex).Name : "")" />
                            </a>
                        </text>
                        imageWordPosition = imageWordPosition + 200;
                        imageIndex++;
                    }
                }
                @:</p>
                if (imageIndex < Model.Images.Count())
                {
                    <div class="row article-photos">
                        <div id="links">
                            <div class="menu row-gallery">
                                @for (int i = imageIndex; i < Model.Images.Count(); i++)
                                {
                                    <div class="menu-category-gallery list-group">
                                        <a href="@Model.Images.ElementAt(i).Link" title="@Model.Images.ElementAt(i).Name" data-gallery>
                                            <img class="img-thumbnail img-responsive" src="@Model.Images.ElementAt(i).MiniatureLink" alt="@Model.Images.ElementAt(i).Name" />

                                        </a>
                                        <div class="photo-description">@Model.Images.ElementAt(i).Name</div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
            @*<div class="myArticle">
                    <div class="row">
                        <div class="col-sm-10 col-md-7 article-title">
                            <h2>@Model.Title</h2>
                        </div>
                    </div>
                    <img class="img-responsive img-thumbnail img-article" src="@Model.Images.FirstOrDefault().MiniatureLink" alt="@Model.Images.FirstOrDefault().Name" />
                    @Model.Text
                </div>

                <p>
                    @if (Request.IsAuthenticated)
                    {
                        <text>@Html.ActionLink("Edytuj", "Edit", new { id = Model.ArticleID })</text>;
                        <text>|</text>;
                    }
                    @Html.ActionLink("Powrót", "Index")
                </p>*@
        <p>
            @if (Request.IsAuthenticated)
            {
                <text>@Html.ActionLink("Edytuj", "Edit", new { id = Model.ArticleID })</text>;
                <text>|</text>;
            }
            @Html.ActionLink("Powrót", "Index")
        </p>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Scripts/bootstrap-image-gallery.min.js"></script>