@model IEnumerable<BOR.Models.Article>

@{
    ViewBag.Title = "Artykuły";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/Content/Images/Branding/ARTYKUŁY.jpg" class="img-responsive img-banner" alt="Off-road main" />
    </div>
</div>

<div class="container main-menu"> 
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Utwórz nowy", "Create")
    }
    @foreach (var item in Model)
    {
        <div class="myArticle">
            <div class="row article-photos">
                <div class="col-sm-10 col-md-7 article-title">
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                </div>
            </div>
            <h5>@Html.DisplayFor(modelItem => item.DateAdded)</h5>
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(item.Text))
            @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.ArticleID })
                    <span>|</span>
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ArticleID })
                }
        </div>
    }

</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-use-bootstrap-modal="false">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="~/Scripts/bootstrap-image-gallery.min.js"></script>
