@model IEnumerable<BOR.Models.Article>

@{
    ViewBag.Title = "Reklamy";
}

<div class="container">

    <h2>Reklamy</h2>
    <p>
        @Html.ActionLink("Dodaj", "Create")
    </p>

    <div class="myArticle">
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-xs-12">
                    <h5>@item.Title (@Html.ActionLink("Usuń", "Delete", new { id = item.ArticleID }) | @Html.ActionLink("Edytuj", "Edit", new { id = item.ArticleID }))</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img class="img-thumbnail img-responsive" src="@(item.Images.Count() > 0 ? item.Images.First().Link : "")" alt="@item.Title" />
                </div>
                <div class="col-sm-6">
                    <a href="@item.Www">@item.Www</a>
                </div>
            </div>
            <hr />
        }
    </div>
</div>